<!DOCTYPE html>
<html>
<head>
  <title>Sunset Rider</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <section>
    <%= yield %>
  </section>
</body>
</html>
